@font-face {
  font-family: "Poppins-Regular";
  src: url(../font/Poppins-Regular.ttf); }
@font-face {
  font-family: "Poppins-Light";
  src: url(../font/Poppins-Light.ttf); }

.type-22 {
  font-family: "Poppins-Regular"; }
  .type-22 .cover-bg {
    background-image: url('../images/jsn-promo.jpg'); }
    .type-22 .cover-bg h2, .type-22 .cover-bg h3 {
      font-size: 30px;
      font-weight: 500; }
  .type-22 .custom-breadcrumb {
    background-color: transparent;
    padding: 0; }
    .type-22 .custom-breadcrumb .custom-item {
      font-size: 14px; }
      .type-22 .custom-breadcrumb .custom-item a {
        text-decoration: none;
        color: #959595; }
      .type-22 .custom-breadcrumb .custom-item::before {
        content: '>'; }
  .type-22 h2, .type-22 h3 {
    font-size: 28px;
    font-weight: 300;
    font-family: "Poppins-Light"; }
  .type-22 h3 {
    font-size: 19px; }
  .type-22 p {
    font-size: 14px; }
    .type-22 .link-light a {
      color: #42ccaf;
      text-decoration: none; }
  .type-22 .date {
    font-size: 12px;
    color: #959595; }
  .type-22 .arrow-menu {
    position: relative; }
    .type-22 .arrow-menu .icon-arrow {
      position: absolute;
      left: -30px;
      top: 10px; }
  .type-22 .dropdown .custom-button {
    border: none; }
