@font-face {
    font-family: "Poppins-Regular";
    src: url(../font/Poppins-Regular.ttf);
}

@font-face{
    font-family: "Poppins-Light";
    src: url(../font/Poppins-Light.ttf);
}

$text-size: 14px;

$color-white: rgba(255, 255, 255, 1);

$color-green: rgba(78, 205, 196, 1);

$space-words: 20px;

.type-29{
    font-family: "Poppins-Regular";
    .detail_description{
        .table_info{
            padding: 0;
            li{
                border-bottom: 1px solid $color-white - 17;
                font-size: $text-size;
                list-style-type: none;
                padding: $space-words - 14px 0;
                i{
                    color: #f7941d;
                }
            }
            
        }
    }

    .report{
        .content_text{
            .box-note{
                border: 1px solid $color-white - 255;
                padding: 0 $space-words + 1;
                strong{
                    font-size: $text-size;
                }
                .note_small{
                    font-size: $text-size - 2px;
                }
            }
        }
    }
    .property_meta{
        border-top: 1px solid $color-white - 26;
        border-bottom: 1px solid $color-white - 26;
        padding: $space-words - 10px 0;
    }
    .infomation_detail{
        h4{
            font-family: "Poppins-Light";
            font-size: $text-size + 8px;
        }
        ul{
            li{
                list-style-type: none;
                font-size: $text-size;
                .text-boild{
                    font-weight: 600;
                }
            }

        }
    }
    .feutures{
        background-color: $color-white - 8;
        padding: $space-words + 10px;
        h4{
            font-size: $text-size + 8px;
        }
        h5{
            font-size: $text-size;
            font-weight: 600;
        }
        #line-content{
            border-bottom: 1px solid $color-white - 26;
            #hover-grey{
                padding: $space-words - 10px;
                &:hover{
                    background-color: $color-white - 14;
                }
                span{
                    color: $color-white - 201;
                }
            }
        }
    }
    .social{
        font-size: $text-size;
        border: 1px solid $color-white - 26;
        padding: $space-words - 10  $space-words $space-words - 10;
    }
    
}