@font-face {
    font-family: "Poppins-Regular";
    src: url(../font/Poppins-Regular.ttf);
}

@font-face{
    font-family: "Poppins-Light";
    src: url(../font/Poppins-Light.ttf);
}

$text-size: 14px;

$color-white: rgba(255, 255, 255, 1);

$color-green: rgba(78, 205, 196, 1);

$space-words: 20px;

.type-21{
    font-family: "Poppins-Light";
    .box-menu{
        border: 1px solid $color-green;
        padding: $space-words;
        h3{
            font-size: $text-size + 4px;
        }
        .slidemenu{
            margin: 0;
            padding: 0;
            font-size: $text-size;
            .parent{
                position: relative;
                &:hover{
                    .slidemenu_child{
                        display: block;
                    }
                }
            }
            li{
                padding: $space-words - 7px;
                list-style-type: none;
                border-top: 1px solid $color-white - 30;
                .slidemenu_child{
                    position: absolute;
                    top: 0;
                    left: 100%;
                    right: auto;
                    background-color: $color-white;
                    border: 1px solid $color-white - 30;
                    padding: 0;
                    min-width: 180px;
                    display: none;
                    .parent{
                        &:hover{
                            .slidemenu_grandchild{
                                display: block;
                            }
                        }
                    }
                    li{
                        border-top: 1px solid rgba(0, 0, 0, 0.08);
                        text-align: left;
                        padding: $space-words - 10px;
                       .slidemenu_grandchild{
                           position: absolute;
                           top: 0;
                            left: 100%;
                            right: auto;
                            background-color: $color-white;
                            border: 1px solid $color-white - 30;
                            padding: 0;
                            min-width: 200px;
                            display: none;
                       }
                    }
                    li:first-child{
                        border-top: none;
                    }
                }
                a{
                    text-decoration: none;
                    color: $color-white - 191;
                    i{
                        padding-left: $space-words;
                    }
                }
            }
        }
    }
   
}