@font-face {
  font-family: "Poppins-Regular";
  src: url(../font/Poppins-Regular.ttf); }
@font-face {
  font-family: "Poppins-Light";
  src: url(../font/Poppins-Light.ttf); }

.type-27 {
  font-family: "Poppins-Regular"; }
  .type-27 .property_content h3 {
    font-family: "Poppins-Light";
    font-size: 22px; }
    .type-27 .property_content h3 a {
      text-decoration: none;
      color: #363636; }
      .type-27 .property_content h3 a i {
        transform: rotate(45deg);
        font-size: 14px;
        color: #f88c37; }
  .type-27 .property_content p {
    color: #898989;
    font-size: 14px; }
.type-27 .property-img img {
  width: 100%;
  height: auto; }
