@font-face {
    font-family: "Poppins-Regular";
    src: url(../font/Poppins-Regular.ttf);
}

@font-face{
    font-family: "Poppins-Light";
    src: url(../font/Poppins-Light.ttf);
}

$text-size: 20px;

$color-white: rgba(255, 255, 255, 1);

$color-green: rgba(78, 205, 196, 1);

$space-words: 20px;

.type-4{
    font-family: "Poppins-Regular";
    .box-title{
        &::before{
            width: 45%;
            height: 1px;
            content: '';
            position: absolute;
            border-bottom: 1px solid $color-white - 26;//#e5e5e5
            left: calc(100% - 38%);
        }
       &::after{
            width: 45%;
            height: 1px;
            content: '';
            position: absolute;
            border-bottom: 1px solid $color-white - 26;//#e5e5e5
            right: calc(100% - 38%);
       }
    }
    h3{
       font-size: $text-size + 4px;
    }
    h4{
        font-size: $text-size;
    }
    .item_img{
        position: relative;
        object-fit: cover;
        cursor: pointer;
        overflow: hidden;

        &::before{
            content: '';
            position: absolute;
           top: 0;
           bottom: 0;
           right: 0;
           left: 0;
          
        }
        .img-item{
            width: 100%;
            height: auto;
        }
        &:hover 
        {
            .img-item{
            transform: scale(1.1);
            transition: 0.9s all ease;
            }
            &::before{
                z-index: 9999;
                background: $color-white - 255;//#000
                opacity: .6;
            }
        }
    }
    .item_content{
        h4{
            .price{
                font-size: $text-size + 2px;
                color: $color-green;
            }
        }
        .address_venue{
            font-size: $text-size - 8px;
            color: $color-white - 118;
        }
        .meta-property{
            border-top: 1px solid $color-white - 26;
            border-bottom: 1px solid $color-white - 26;
            i{
                color: $color-white - 26;
            }
        }
    }

    // Mobile
    @media (max-width: 768px) {
        .item_content{
            h4{
                font-size: $text-size + 2px!important;
                .price{
                    font-size: $text-size + 4px!important;
                    float: none;
                    display: block;
                }
            }
        }
        .box-title{
            &::before{
                width: 10%;
                left: calc(100% - 10%);
            }
           &::after{
                width: 10%;
                right: calc(100% - 10%);
           }
        }
    }
}