@font-face {
    font-family: "Poppins-Regular";
    src: url(../font/Poppins-Regular.ttf);
}

@font-face{
    font-family: "Poppins-Light";
    src: url(../font/Poppins-Light.ttf);
}

$text-size: 20px;

$color-white: rgba(255, 255, 255, 1);

$color-green: rgba(78, 205, 196, 1);

$space-words: 20px;

.type-4{
    font-family: "Poppins-Regular";
    h3{
       font-size: $text-size + 4px;
    }
    h4{
        font-size: $text-size;
    }
    .item_img{
        img{
            width: 100%;
            height: auto;
        }
    }
    .item_content{
        h4{
            .price{
                font-size: $text-size + 2px;
                color: $color-green;
            }
        }
        .address_venue{
            font-size: $text-size - 8px;
            color: $color-white - 118;
        }
        .meta-property{
            border-top: 1px solid $color-white - 26;
            border-bottom: 1px solid $color-white - 26;
            i{
                color: $color-white - 26;
            }
        }
    }
}