@font-face {
    font-family: "Poppins-Regular";
    src: url(../font/Poppins-Regular.ttf);
}

@font-face{
    font-family: "Poppins-Light";
    src: url(../font/Poppins-Light.ttf);
}

$text-size: 20px;

$color-white: rgba(255, 255, 255, 1);

$color-green: rgba(78, 205, 196, 1);

$space-words: 20px;

.type-6{
    font-family: "Poppins-Regular";
    h3{color: $color-white - 201; font-size: $text-size + 4px;}
    h4{
        @extend h3;
        font-size: $text-size;
    }
    .img_produce{
        img{
            width: 100%;
            height: auto;
        }
    }
    .meta-product{
        .price{
            font-size: $text-size + 2px;
            color: $color-green;
        }
        .adress{
            color: $color-white - 118;
            font-size: $text-size - 8px;
            .propertise{
                font-size: $text-size - 6px;
                color: $color-green;
            }
        }
        p{
            color: $color-white - 156;
        }
        .meta-property{
            color: $color-white - 201;
            border-top: 1px solid $color-white - 26;
            border-bottom: 1px solid $color-white - 26;
            i{
                color: $color-white - 26;
            }
        }
    }
}