@font-face {
  font-family: "Poppins-Regular";
  src: url(../font/Poppins-Regular.ttf); }
@font-face {
  font-family: "Poppins-Light";
  src: url(../font/Poppins-Light.ttf); }

.type-6 {
  font-family: "Poppins-Regular"; }
  .type-6 .box-title::before {
    width: 45%;
    height: 1px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #e5e5e5;
    left: calc(100% - 42%); }
  .type-6 .box-title::after {
    width: 45%;
    height: 1px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #e5e5e5;
    right: calc(100% - 42%); }
  .type-6 h3, .type-6 h4 {
    color: #363636;
    font-size: 24px; }
  .type-6 h4 {
    font-size: 20px; }
    .type-6 .img_produce img {
      width: 100%;
      height: auto; }
  .type-6 .meta-product .price {
    font-size: 22px;
    color: #4ecdc4; }
  .type-6 .meta-product .adress {
    color: #898989;
    font-size: 12px; }
    .type-6 .meta-product .adress .propertise {
      font-size: 14px;
      color: #4ecdc4; }
  .type-6 .meta-product p {
    color: #636363; }
  .type-6 .meta-product .meta-property {
    color: #363636;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5; }
    .type-6 .meta-product .meta-property i {
      color: #e5e5e5; }
@media (max-width: 768px) {
  .type-6 .item_content h4 {
    font-size: 22px !important; }
    .type-6 .item_content h4 .price {
      font-size: 24px !important;
      float: none;
      display: block; }
  .type-6 .box-title::before {
    width: 25%;
    left: calc(100% - 25%); }
  .type-6 .box-title::after {
    width: 25%;
    right: calc(100% - 25%); } }
