@font-face {
  font-family: "Poppins-Regular";
  src: url(../font/Poppins-Regular.ttf); }
@font-face {
  font-family: "Poppins-Light";
  src: url(../font/Poppins-Light.ttf); }

.type-7 {
  font-family: "Poppins-Regular"; }
  .type-7 .box-title::before {
    width: 45%;
    height: 1px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #e5e5e5;
    left: calc(100% - 38%); }
  .type-7 .box-title::after {
    width: 45%;
    height: 1px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #e5e5e5;
    right: calc(100% - 38%); }
  .type-7 .agent {
    color: #363636; }
    .type-7 .agent .agent_img img {
      max-width: 100%;
      height: auto; }
    .type-7 .agent .agent_name {
      font-size: 18px; }
    .type-7 .agent .agent_info {
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
      font-size: 13px; }
      .type-7 .agent .agent_info .phone {
        padding: 25px 15px 25px 0px;
        border-right: 1px solid #e5e5e5; }
        .type-7 .agent .agent_info .phone i {
          color: #c2c2c2; }
      .type-7 .agent .agent_info .email {
        padding: 25px 15px; }
        .type-7 .agent .agent_info .email i {
          color: #c2c2c2; }
  @media (max-width: 768px) {
    .type-7 .item_content h4 {
      font-size: 16px !important; }
      .type-7 .item_content h4 .price {
        font-size: 18px !important;
        float: none;
        display: block; }
  .type-7 .box-title::before {
    width: 10%;
    left: calc(100% - 10%); }
  .type-7 .box-title::after {
    width: 10%;
    right: calc(100% - 10%); }
  .type-7 .agent_info {
    display: block !important;
    text-align: center; }
    .type-7 .agent_info .phone {
      padding: 5px 0px !important;
      border-right: none !important; }
      .type-7 .agent_info .phone i {
        color: #c2c2c2; }
    .type-7 .agent_info .email {
      padding: 5px 0px !important; }
      .type-7 .agent_info .email i {
        color: #c2c2c2; } }
