@font-face {
  font-family: "Poppins-Regular";
  src: url(../font/Poppins-Regular.ttf); }
@font-face {
  font-family: "Poppins-Light";
  src: url(../font/Poppins-Light.ttf); }

.type-25 {
  font-family: "Poppins-Regular"; }
  .type-25 h2 {
    font-size: 28px;
    font-family: "Poppins-Light"; }
  .type-25 h3 {
    font-size: 18px; }
  .type-25 p {
    font-size: 14px; }
  .type-25 .date {
    font-size: 12px;
    color: #959595; }
    .type-25 .row .box-style, .type-25 .row .box-nd-style, .type-25 .row .box-rd-style, .type-25 .row .box-right-style, .type-25 .row .box-right-nd-style, .type-25 .row .box-right-rd-style {
      border: 1px solid #e5e5e5;
      padding: 20px; }
    .type-25 .row .box-nd-style, .type-25 .row .box-rd-style, .type-25 .row .box-right-style {
      border: 1px solid #4ecdc4; }
      .type-25 .row .box-nd-style .text-thin, .type-25 .row .box-rd-style .text-thin, .type-25 .row .box-right-style .text-thin {
        font-family: "Poppins-Light"; }
    .type-25 .row .box-rd-style, .type-25 .row .box-right-style {
      border: none;
      background-color: #f9f9f9; }
    .type-25 .row .box-right-style {
      background-color: #4ecdc4;
      color: white; }
    .type-25 .row .box-right-nd-style {
      border-top: 2px solid #4ecdc4; }
      .type-25 .row .box-right-nd-style .text-thin {
        font-family: "Poppins-Light"; }
    .type-25 .row .box-right-rd-style {
      border: 2px solid black; }
      .type-25 .row .box-right-rd-style .text-thin {
        font-family: "Poppins-Light"; }
