@font-face {
  font-family: "Poppins-Regular";
  src: url(../font/Poppins-Regular.ttf); }
@font-face {
  font-family: "Poppins-Light";
  src: url(../font/Poppins-Light.ttf); }

.type-4 {
  font-family: "Poppins-Regular"; }
  .type-4 .box-title::before {
    width: 45%;
    height: 1px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #e5e5e5;
    left: calc(100% - 38%); }
  .type-4 .box-title::after {
    width: 45%;
    height: 1px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #e5e5e5;
    right: calc(100% - 38%); }
  .type-4 h3 {
    font-size: 24px; }
  .type-4 h4 {
    font-size: 20px; }
    .type-4 .item_img img {
      width: 100%;
      height: auto; }
  .type-4 .item_content h4 .price {
    font-size: 22px;
    color: #4ecdc4; }
  .type-4 .item_content .address_venue {
    font-size: 12px;
    color: #898989; }
  .type-4 .item_content .meta-property {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5; }
    .type-4 .item_content .meta-property i {
      color: #e5e5e5; }
@media (max-width: 768px) {
  .type-4 .item_content h4 {
    font-size: 22px !important; }
    .type-4 .item_content h4 .price {
      font-size: 24px !important;
      float: none;
      display: block; }
  .type-4 .box-title::before {
    width: 10%;
    left: calc(100% - 10%); }
  .type-4 .box-title::after {
    width: 10%;
    right: calc(100% - 10%); } }
